.venv/
venv/
__pycache__/
*.pyc
dist/
*.spec.build/
*.log
*.zip
*.tar.gz
icon.iconset/
.env
cloudflare.env
cache/
config.json
runtime_config.json
*.DS_Store
.idea/
.vscode/
.history/
.cursorignore
soundtrack_tool/__pycache__/
.github/workflows/image/
